#userTime {
  font-size: 100;
  font-family: Colfax-Medium;
  text-length: 40;
  text-anchor: start;
  x: 3%;
  y: 50%+20;
  fill: #ffffff;
}

#userTimeSecond {
  font-size: 40;
  font-family: Colfax-Medium;
  text-length: 50;
  x: 97%;
  y: 57%;
  text-anchor: end;
  fill: #ffffff
}

#userMonth {
  font-size: 30;
  font-family: Colfax-Medium;
  text-length: 900;
  x: 3%;
  y: 40;
  text-anchor: start;
  fill: #ffffff;
}

#userCalories {
  font-size: 30;
  font-family: Colfax-Medium;
  text-length: 900;
  x: 40%;
  y: 40;
  text-anchor: start;
  fill: #ffffff
}

#userCaloriesText {
  font-size: 30;
  font-family: Colfax-Medium;
  text-length: 900;
  x: 97%;
  y: 40;
  text-anchor: end;
  fill: #ffffff;
}

#userSteps {
  font-size: 50;
  font-family: Colfax-Medium;
  text-length: 50;
  text-anchor: start;
  fill: #ffffff;
  x: 22%;
  y: 90%;
}

#smallHeart {
  x: 10%
}

#heartRateInformation {
  font-size: 50;
  font-family: Colfax-Medium;
  text-length: 50;
  x: 97%;
  y: 90%;
  text-anchor: end;
  fill: #ffffff
}

#amPM {
  font-size: 30;
  font-family: Colfax-Medium;
  text-length: 50;
  x: 97%;
  y: 40%;
  text-anchor: end;
  fill: #ffffff
}

